.onboarding-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  background-color: var(--bg-white);
}

.slide-text {
  color: var(--text-dark);
}

.icon {
    font-size: 80px;
    display: block;
    margin-bottom: 15px;
  }

.btn-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 10px;
  width: 100%;
}

//estilização swiper
swiper-container {
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
}

swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-content {
  text-align: center;
  padding: 40px 20px;

  p {
    font-size: 16px;
    line-height: 1.6;
  }
}
