/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';


// fonte poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    //fonte
    --ion-font-family: 'Poppins', sans-serif;

    // cores
    --color-primary-main-100: #BF2C2F;
    --color-primary-80: #DE5E60;
    --color-primary-60: #EBC6C6;
    --color-primary-40: #F6E7E7;

    --color-sucess-80: #649757;
    --color-sucess-60: #8FC481;
    --color-sucess-40: #BBE2B1;

    //textos
    --text-dark: #434343;

    // backgrounds
    --bg-white: #F8F8F8;
    --bg-gray: #EEEEEE;

    --dark: #434343;
    --dark-medium: #737373;
    --dark-light: #B3B3B3;
}


// botoes
.btn{
    --border-radius: 24px;
    --color: var(--text-dark);
    --box-shadow: 1px 1px 1px 0px #00000014;
    --font-weight: 500;
    --font-size: 14px;
    text-transform: none;
}
ion-button{
    --border-radius: 24px !important;
    --font-weight: 500;
    --font-size: 14px;
}

.btn-secondary-border{
    --background: var(--bg-white);
    --border-color: var(--bg-gray);
    --border-width: 1px;
}


//botao primario
.btn-primary{
    --background: var(--color-primary-40);
    --color: var(--color-primary-80);
    --box-shadow: 1px 1px 1px 0px #00000014;
}
.btn-primary:hover{
    --background: var(--color-primary-80);
    --color: var(--color-primary-40);
}


//botao secundario
.btn-secondary{
    --background: var(--bg-white);
    --color: var(--color-primary-80);
    --border-color: var(--color-primary-80);
    --border-width: 2px;
}
.btn-secondary:hover{
    --background: var(--color-primary-40);
    --color: var(--color-primary-80);
}


//botao sucess
.btn-sucess{
    --background: var(--color-sucess-40);
    --color: var(--dark:);
}
.btn-sucess:hover{
    --background: var(--color-sucess-60);
    --color: var(--dark:);
}


// SWIPER STYLES
swiper-container {
    --swiper-pagination-bullet-inactive-color: var(--color-primary-40);
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-size: 10px;
    --swiper-pagination-color: var(--color-primary-80);
    --swiper-pagination-bottom: 15px;
}

.swiper-pagination-bullet {
    background-color: var(--color-primary-40) !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active {
    background-color: var(--color-primary-80) !important;
}


//fundo padrao branco do aplicativo
ion-content {
    --background: var(--bg-white);
    --color: var(--text-dark);
}

.container-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  background-color: var(--bg-white);
}

h1{
    font-size: 18px !important;
    color: var(--color-primary-main-100) !important;
    font-weight: 700;
}

//form
.input-group label{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-dark);
    //margin-bottom: 6px;
}


//linha vermelha embaixo do input quando esta selecionado
.input-box:focus-within {
  border: 2px solid #BF2C2F;
}